"/var/lib/vastai_kaalia/kaalia_stdout.log" "/var/lib/vastai_kaalia/vast_support_command.log" "/var/lib/vastai_kaalia/tls_bouncer.log" {
    compress
    delaycompress
    maxsize 1
    notifempty
    rotate 10
    weekly
    missingok
    nomail
    su vastai_kaalia docker
    create 0600 vastai_kaalia docker
}
